body {
    background-color: #c0c0c0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-size:64px;
    font-family: Impact, sans-serif;
    text-align: center;
    color: #000;
    background-color: #d3d3d3;
}   

h2 {
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;
    color: #000;
}

p {
    font-family: sans-serif;
    text-align: center;
}

/* Facebook Icons and Ebay Icons */
svg {
    width: 60px;
}

/* gets rid of bullet poimts for icons */
li {
    list-style: none;
}

* {box-sizing:border-box}


.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Caption text */
.text {
  color: #000;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/6 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.active, .dot:hover {
  background-color: #717171;
}

#cursor {
  size: 2px;
  display: block;
  position: absolute;
  height: size;
  width: size;
  border-radius: ceil(size / 2);
  background-color: transparent;
  top: -100px;
  left: -100px;
}
